body {
    margin: 30px;
}

#parent {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 250px);
    padding: 5px 5px 5px 5px;
}

#parent>div {
    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
    display: grid;
    place-items: center;
}

.container {
    background-color: black;
    margin-right: 45%;

}

.red {
    background-color: red !important;
}

.green {
    background-color: green !important;
}